<div id="card-canvas" class="card-body">
  <div class="zoomButtonGroups">
    <button class="zoomIn btn btn-outline-primary" (click)="zoomIn()"> + </button>
    <button class="zoomOut btn btn-outline-primary" (click)="zoomOut()"> - </button>
    <button class="reset btn btn-outline-primary" (click)="reset()"> Reset </button>
  </div>

  <!-- <div class = "containmentDiv1" >
    </div> -->
  <div class = "containmentDiv">
  <div id="stack-canvas" id="divBG" [ngStyle]="{'width': '899px',
    'height': '750px',
    'position' : 'fixed',
    'cursor' : 'crosshair',
    'border': '2px solid ',
    'margin-left': '46%',
    'margin-top': '20px'
  }">
  <div class="overlay" (contextmenu) = "disableContextMenu()" (click) = "addPoint($event)" (drag) = "dontDrag($event)" [ngStyle]=  "{'cursor':'crosshair'}" id = "image-container">
  <img src = "{{imageURL}}" width = "899" height = "800" id = "image"/>
        <ng-container *ngFor="let points of pointsArray | keyvalue">
          <div draggable="true"
            [ngStyle]="{'display':'block','position':'absolute', 'width':'7px', 'height':'7px','background-color':'red','border-radius':'30px','top': points.value.y +'px', 'left': points.value.x   +'px','z-index':1}">
          </div>
          <span [ngStyle]="{'display':'block','position':'absolute', 'font-size' : '20px','color': 'red','top': points.value.y  + 10  +'px', 'left': points.value.x + 10 +'px','z-index':1}">{{points.value.point_name_alias}}</span>

        </ng-container> 
        <ng-container *ngFor="let line of lineArr">
          <ng-container *ngIf = "line.distanceinmm !== undefined">
            <ng-container *ngIf = "line.showDistance">
              <span [ngStyle] = "{'position':'absolute', 'color' : 'red' ,'font-size': '20px', 'top': line.top! + 43 +'px', 'left' : line.left! + 40 + 'px'}">{{line.distanceinmm}}mm</span>
            </ng-container>
            <div [ngStyle] = "{'display':'block','padding': '0px','margin': '0px','height': '2px','background-color': 'rgb(223, 11, 11)','border-color': 'rgb(223, 11, 11)','line-height': '1px','position': 'absolute','left': line.left + 3 +'px','top': line.top + 3+'px','width': line.distance+'px','transform': 'rotate('+line.angle+'deg)'}"></div>
            <ng-container *ngIf = "line.id != 'C1-C2'">
            <div [ngStyle] = "{'display':'block','padding': '0px','margin': '0px','height': '2px','border-bottom':'1px dashed rgb(227, 227, 227)','line-height': '1px','position': 'absolute','left': line.x.x_left+'px','top': line.x.x_top + 3 +'px','width': line.x.x_distance + 3 +'px','transform': 'rotate('+line.x.x_angle+'deg)'}"></div>
            </ng-container>
          </ng-container>
        </ng-container>
        
      </div>
    </div>
    </div>
    <div class="right-menu-main">
      <div class = "magnificationFactorInput" style = "z-index:100">
      Enter the Magnification Factor in mm
      <form [formGroup] = "calibrationMagnification">
        <input type = "text" formControlName="magnificationFactor"/>
      </form>
      </div>
      <div class="right-menu-images">
        <div class="buttonGroups">
          <button class = "btn btn-outline-success" (click) = "submitPayload()"><mat-icon>save</mat-icon> Save </button>
          <button class = "btn btn-outline-primary" (click) = "goBackToMainPage()"><mat-icon>cancel</mat-icon> Cancel </button>
        </div>
        
        <ng-container *ngIf="previewImage">
          <img src="{{previewImage}}" style="position:relative; z-index:100" width=272 height=304>
        </ng-container>
      </div>
    
      <div class="pointsDiv">
        <select class="selectOptions" style="position: relative;" (change) = "analysisChange($event)">
          <option selected value="steinerAnalysis"> Steiner Analysis </option>
        </select>
        
      </div>
   
<div class="card-body right-menu">
  <div style = "position: fixed;background-color:rgb(236, 236, 236); width: 18.5%;">
    <h4> Points </h4> <span style = "margin-left: 158px"> All Points marked  <ng-container *ngIf = "allPointsCompleted else cond5"><b>Yes</b> </ng-container> <ng-template #cond5> <b>No</b> </ng-template></span>
    </div>
    <table class = "menu-title" style = "margin-top: 50px;">

      <tr *ngFor="let option of options let i = index">
          <ng-container *ngIf="option.isActive else cond2">
              <td><input type="checkbox" /><a class="link-btns">{{
                  option.pointName
                }}</a></td>
            </ng-container>
            
            <ng-template #cond2>
                <td><input type="checkbox" checked disabled /><a class="link-btns-disabled">{{
                    option.pointName
                  }} </a> </td>
                  <td> </td>
                  <td> </td>
                  <td><mat-icon (click)="removePoint(i)" style="font-size: 18px;float: right;"> delete </mat-icon></td>
                  
                  </ng-template>
        </tr>
        
      </table>
</div>
   


    <div class="data-table">
      <table class="result-table">
        <tr>
          <th> Results </th>
          <th> Clinical Norm </th>
          <th> Value </th>
          <th> Interpretation </th>
        </tr>
        <ng-container *ngFor="let results of anglesArr">
          <ng-container *ngIf = "results.id != 'C1-C2^C2-C1'">
            <ng-container *ngIf = "results.value <= results.mean else cond4">
            <tr style = "background-color: green;">
                <td color = "red">{{results.name}} </td>
                <td color = "red"> {{results.mean}}° </td>
                <td color = "red"> {{results.value}}° </td>
                <td color = "red"> {{results.interpretation}} </td>
               
            </tr>
            </ng-container>

            <ng-template #cond4>
              <tr style = "background-color: red;">
                  <td color = "green">{{results.name}} </td>
                  <td color = "green"> {{results.mean}}° </td>
                  <td color = "green"> {{results.value}}° </td>
                  <td color = "green"> {{results.interpretation}} </td>
                 
              </tr>
              </ng-template>

        </ng-container>
        </ng-container>
        
    </table>
    </div>
</div> 


""