<div id="card-canvas" class="card-body">
  <div class="zoomButtonGroups">
    <button class="zoomIn btn btn-outline-primary" (click)="zoomIn()"> + </button>
    <button class="zoomOut btn btn-outline-primary" (click)="zoomOut()"> - </button>
    <button class="reset btn btn-outline-primary" (click)="reset()"> Reset </button>
  </div>
  <div class = "containmentDiv">
  <div id="stack-canvas" id="divBG" (contextmenu) = "disableContextMenu()" (click) = "addPoint($event)"[ngStyle]="{'background-image':'url('+ imageURL +')','width': '899px',
    'height': '750px',
    'background-size': 'cover',
    'position' : 'fixed',
    'background-position-x': '0px',
    'background-position-y': '0px',
    'background-repeat': 'no-repeat'
    
  }">
      <div class="overlay">
        <ng-container *ngFor="let points of pointsArray | keyvalue">
          <div draggable="false"
            [ngStyle]="{'display':'block','position':'absolute', 'width':'10px', 'height':'10px','background-color':'red','border-radius':'30px','top': points.value.y +'px', 'left': points.value.x +'px','z-index':1}">
            <span style="font-size:25px; color:red">{{points.value.point_name_alias}}</span>
          </div>

        </ng-container>
        
          <ng-container *ngFor="let line of lineArr">
            <ng-container *ngIf = "line.distanceinmm !== undefined">
              <div [ngStyle] = "{'display':'block','padding': '0px','margin': '0px','height': '2px','background-color': 'rgb(223, 11, 11)','border-color': 'rgb(223, 11, 11)','line-height': '1px','position': 'absolute','left': line.left+'px','top': line.top+'px','width': line.distance+'px','transform': 'rotate('+line.angle+'deg)'}"></div>
              <span [ngStyle] = "{'position':'relative', 'color' : 'red' ,'font-size': '20px', 'top': line.top +'px', 'left' : line.left! - 40+ 'px'}">{{line.distanceinmm}}mm</span>
              <!-- <div [ngStyle] = "{'display':'block','padding': '0px','margin': '0px','height': '2px','background-color': 'rgb(227, 227, 227)','border-bottom':'1px dashed rgb(227, 227, 227)','line-height': '1px','position': 'absolute','left': line.x.x_left+'px','top': line.x.x_top+'px','width': line.x.x_distance+'px','transform': 'rotate('+line.x.x_angle+'deg)'}"></div> -->
            </ng-container>
          </ng-container>

          <!-- <ng-container  *ngFor = "let angleInfo of anglesValues">
            <ng-container *ngIf = "angleInfo.id !== 'C1-C2^'">
                <span [ngStyle] = "{'position':'relative', 'color' : 'red' ,'font-size': '20px', 'top': angleInfo.top+'px', 'left' : angleInfo.left+ 'px'}"> {{angleInfo.value}}° </span>
            </ng-container>
          </ng-container> -->
      </div>
    </div>
    </div>
    <div class="right-menu-main">
    <div class="right-menu-images">
    <div class="buttonGroups">
      <button class = "btn btn-outline-success" (click) = "submitPayload()"> Submit </button>
      <button class = "btn btn-outline-primary" (click) = "goBackToMainPage()"> Back </button>
      </div>

      <ng-container *ngIf="previewImage">
        <img src="{{previewImage}}" style="position:relative; z-index:100" width=272 height=304>
      </ng-container>
    </div>
  <div class="pointsDiv">

    <select class="selectOptions" style="position: relative;" (change) = "analysisChange($event)">
        <option value="BasicAnalysis"> Basic Analysis</option>
        <option value="DentalAnalysis"> Dental Analysis </option>
        <option value="VerticalAnalysis"> Vertical Analysis </option>
        <option value="MandibularAnalysis"> Mandibular Analysis </option>
        <option value="DownsAnalysis"> Downs Analysis </option>
        <option selected value="steinerAnalysis"> Steiner Analysis </option>
       <option> Mills-Eastman Analysis </option>
        <option> Wits Appraisal </option> 
       <option> Tweed's Triangle </option> 
    </select>
    
</div>
<div class="card-body right-menu">
    <h4 class=""> Points </h4>
    
      <div class="menu-title" *ngFor="let option of options let i = index">
          <ng-container *ngIf="option.isActive else cond2">
              <input type="checkbox" /><a class="link-btns">{{
                  option.pointName
                }}</a>
            </ng-container>
            
            <ng-template #cond2>
                <input type="checkbox" checked disabled /><a class="link-btns-disabled">{{
                    option.pointName
                 }} </a><mat-icon (click)="removePoint(i)" style="font-size: 18px;"> delete </mat-icon>
            </ng-template>
        </div>
        
    </div>

   


    <div class="data-table">
      <table class="result-table">
        <tr>
          <th> Results </th>
          <th> Clinical Norm </th>
          <th> Value </th>
          <th> Interpretation </th>
        </tr>
        <ng-container *ngFor="let results of anglesArr">
          <ng-container *ngIf = "results.id != 'C1-C2^C2-C1'">
            <tr>
                <td>{{results.name}} </td>
                <td> {{results.mean}}° </td>
                <td> {{results.value}}° </td>
                <td> {{results.interpretation}} </td>
               
            </tr>
        </ng-container>
        </ng-container>
        
    </table>
    </div>
</div> 


