<div id="card-canvas" class="card-body">
  <div class="zoomButtonGroups">
    <button class="zoomIn btn btn-outline-primary" (click)="zoomIn()"> + </button>
    <button class="zoomOut btn btn-outline-primary" (click)="zoomOut()"> - </button>
    <button class="reset btn btn-outline-primary" (click)="reset()"> Reset </button>
  </div>

  <!-- <div class = "containmentDiv1" >
    </div> -->
  <div class = "containmentDiv">
  <div class="stack-canvas" id="divBG" [ngStyle]="{'width': '899px',
    'height': '750px',
    'position' : 'absolute',
    'cursor' : 'crosshair',
    'border': '2px solid ',
    'margin-left': '46%',
    'margin-top': '86px'
  }">
  <div class="overlay" (contextmenu) = "disableContextMenu()" (click) = "addPoint($event)" [ngStyle]=  "{'cursor':'crosshair'}" id = "image-container">
  <img src = "{{imageURL}}" width = "899" height = "800" id = "image" [ngStyle] = "{'filter' : 'contrast('+contrastSetting+'%) brightness('+brightnessSetting+'%) invert('+invertSetting+'%)'}"/>
        <ng-container *ngFor="let points of pointsArray | keyvalue">
          <div draggable="true"
            [ngStyle]="{'display':'block','position':'absolute', 'width':'7px', 'height':'7px','background-color':'white','border-radius':'30px','top': points.value.y +'px', 'left': points.value.x +'px','z-index':1}">
          </div>
          <span [ngStyle]="{'display':'block','position':'absolute', 'font-size' : '20px','color': 'white','top': points.value.y + 10  +'px', 'left': points.value.x + 10 +'px','z-index':1}">{{points.value.point_name_alias}}</span>

        </ng-container> 
        <svg height="800" width="899" style = "position:relative">
        <ng-container *ngFor="let line of lineArr">
          <ng-container *ngIf = "line.id == 'C1-C2'">
            <line [attr.x1]="line.x1 + 3" [attr.y1]="line.y1 + 3" [attr.x2]="line.x2 + 3" [attr.y2]="line.y2 + 3" style="stroke:rgb(254, 254, 254);stroke-width:2" />
          </ng-container>
        </ng-container>
        </svg> 
        <ng-container *ngFor="let line of lineArr">
        <ng-container *ngIf = "line.id != 'C1-C2'">
          <ng-container *ngIf = "line.id == 'ANS-N' || line.id == 'ANS-Me'">
            <span [ngStyle] = "{'position':'relative', 'color' : 'black' ,'font-size': '15px', 'top': line.top +'px', 'left' : line.left + 'px'}">{{line.distanceinmm}}mm</span>
          </ng-container>
          <div [ngStyle] = "{'display':'block','padding': '0px','margin': '0px','height': '2px','border-bottom':'1px dashed rgb(227, 227, 227)','line-height': '1px','position': 'absolute','left': line.x.x_left +'px','top': line.x.x_top +'px','width': line.x.x_distance +'px','transform': 'rotate('+line.x.x_angle+'deg)'}"></div>
          </ng-container>
        </ng-container>
        <!-- <ng-container *ngFor = "let angle of anglesArr">
          <span [ngStyle] = "{'position':'absolute', 'color' : 'red' ,'font-size': '15px', 'top': angle.top! +'px', 'left' : angle.left! + 'px'}">{{angle.value}}°</span>
        </ng-container> -->
      </div>
    </div>
    </div>
    <div class="right-menu-main">
      <div class = "magnificationFactorInput" style = "z-index:100">
      Enter the Magnification Factor in mm
      <form [formGroup] = "calibrationMagnification">
        <input type = "text" formControlName="magnificationFactor"/>
      </form>
      </div>
      <div class="right-menu-images">
        <div class="buttonGroups">
          <button class = "btn btn-outline-success" (click) = "submitPayload()"><mat-icon>save</mat-icon> Save </button>
          <button class = "btn btn-outline-primary" (click) = "goBackToMainPage()"><mat-icon>cancel</mat-icon> Cancel </button>
          <button class = "btn btn-outline-success" (click) = "exportToJPEG()"><mat-icon>import_export</mat-icon> Export as JPEG </button>
          <button class = "btn btn-outline-success" (click) = "exportToPDF()"><mat-icon>import_export</mat-icon> Export as PDF </button>
          <button class = "btn btn-outline-success" (click) = "showImageSettings()"> <mat-icon>settings</mat-icon> Image settings </button>
          <button class = "btn btn-outline-primary" (click) = "resetAllPoints()"> <mat-icon> loop </mat-icon> Reset </button>
        </div>
        
        <ng-container *ngIf="previewImage">
          <img src="{{previewImage}}" style="position:relative; z-index:100" width=272 height=304>
        </ng-container>
      </div>
      <p-dialog header="Image Settings" [(visible)]="showImageSettingsPanel" [modal]="false" 
      [draggable]="true" [resizable]="true" >
    
        Adjust Contrast <input type = "range" name = "contrastSlider" max="200" min="0" (change) = "changeImageSettings('Contrast',$event)"/>
        Adjust Brightness <input type="range" name = "brightnessSlider" max = "200" min = "0" (change) = "changeImageSettings('Brightness',$event)"/>
        Adjust Invert <input type = "range" name = "invertSlider" max = "100" min = "0" (change) = "changeImageSettings('Invert', $event)"/>


        <input type = "button" class = "btn btn-outline-primary" (click) = "resetAllSettings()" value = "Reset"/> 
      </p-dialog>
      <div class="pointsDiv">
        <select class="selectOptions" style="position: relative;" (change) = "analysisChange($event)">
          <option selected value="steinerAnalysis"> Steiner Analysis </option>
        </select>
        
      </div>
   
<div class="card-body right-menu">
  <div style = "position: sticky;
  background-color: rgb(236, 236, 236);
  /* width: 51.5%; */
  top: 0;
  width: 100%;
">
    <h4 style = "position: relative;
    font-weight: bold;
    color: #000000;
    top: 45px;
    left: 20px;"> Points </h4> <span style = "margin-left: 158px"> All Points marked  <ng-container *ngIf = "allPointsCompleted else cond5"><b><mat-icon>check_circle_outline</mat-icon></b> </ng-container> <ng-template #cond5> <b><mat-icon>highlight_off</mat-icon></b> </ng-template></span>
    </div>
    <table class = "menu-title" style = "margin-top: 50px; border-collapse: separate;
    border-spacing: 0 15px;">

      <tr *ngFor="let option of options let i = index">
          <ng-container *ngIf="option.isActive else cond2">
              <td><input type="checkbox" /><a class="link-btns">{{
                  option.pointName
                }}</a></td>
            </ng-container>
            
            <ng-template #cond2>
                <td><input type="checkbox" checked disabled /><a class="link-btns-disabled">{{
                    option.pointName
                  }} </a> </td>
                  <td> </td>
                  <td> </td>
                  <td><mat-icon (click)="removePoint(i)" style="font-size: 18px;float: right;">loop</mat-icon></td>
                  
                  </ng-template>
        </tr>
        
      </table>
</div>
   


    <div class="data-table">
      <table class="result-table">
        <tr>
          <th> Results </th>
          <th> Clinical Norm </th>
          <th> Value </th>
          <th> Interpretation </th>
        </tr>
        <ng-container *ngFor="let results of anglesArr">
          <ng-container *ngIf = "results.name != ''">
          <ng-container *ngIf = "results.id != 'C1-C2'">
            <ng-container *ngIf = "results.typeOfMeasurement == 'Angular' else cond5">
            <tr>
              <td>{{results.name}} </td>
              <td> {{results.mean}}° </td>
              <ng-container *ngIf = "results.value > results.mean else cond4">
                <td> <span style="color:red">{{results.value}}° </span> </td>
              </ng-container>
              <ng-template #cond4>
                <td> <span style = "color:green">{{results.value}}° </span> </td>
                </ng-template>
                <td> {{results.interpretation}} </td>
            </tr>
            </ng-container>

            <ng-template #cond5>
              <tr>
                  <td>{{results.name}} </td>
                  <td> {{results.mean}}mm </td>
                  <ng-container *ngIf = "results.value > results.mean else cond6">
                  <td> <span style="color:red">{{results.value}}mm</span> </td>
                  </ng-container>
                  <ng-template #cond6>
                    <td> <span style = "color:green">{{results.value}}mm </span> </td>
                  </ng-template>
                  <td> {{results.interpretation}} </td>
                 
              </tr>
              </ng-template>

        </ng-container>
        </ng-container>
        </ng-container>
        
    </table>
    </div>
</div> 


